<section>
  <%= render 'collected_currencies_chart' %>

  <h1>Currencies</h1>

  <table>
    <tr>
      <th>Name <%= filter_tag(currencies_path(:format => :js), :placeholder => 'start typing currency\'s name') %></th>
      <th>Code</th>
      <th><%= check_box_visited_all_tag('currency') %> Collected</th>
      <th></th>
    </tr>
    <tbody id="filter_result_area">
      <%= render :partial => "currency", :collection => @currencies %>
    </tbody>
  </table>
</section>