<section>
  <%= render 'collected_currencies_chart' %>

  <h1>Currencies</h1>

  <table>
    <tr>
      <th>Name <%= text_field_tag 'name', '', :id => 'filter', :'data-url' => currencies_path(:format => :js), :placeholder => 'start typing currency\'s name' %></th>
      <th>Code</th>
      <th>Collected</th>
      <th></th>
    </tr>
    <tbody id="filter_result_area">
      <%= render :partial => "currency", :collection => @currencies %>
    </tbody>
  </table>
</section>