<section>
  <%= render 'visited_countries_chart' %>

  <h1>Countries</h1>

  <table>
    <tr>
      <th>Name <%= filter_tag(countries_path(:format => :js), :placeholder => 'start typing country\'s name') %></th>
      <th>Code</th>
      <th><%= check_box_visited_all_tag('country') %> Visited</th>
      <th></th>
    </tr>
    <tbody id="filter_result_area">
      <%= render :partial => "country", :collection => @countries %>
    </tbody>
  </table>
</section>