<section>
  <%= render 'visited_countries_chart' %>

  <h1>Countries</h1>

  <table>
    <tr>
      <th>Name <%= text_field_tag 'name', '', :id => 'filter', :'data-url' => countries_path(:format => :js), :placeholder => 'start typing country\'s name' %></th>
      <th>Code</th>
      <th>Visited</th>
      <th></th>
    </tr>
    <tbody id="filter_result_area">
      <%= render :partial => "country", :collection => @countries %>
    </tbody>
  </table>
</section>